:root {
    --branco-fonte: #FFFFFF;
    --azul-escuro: #2C5680;
    --azul-claro: #85CDF5;
    --dourado: #DEB956;
    --cinza-escuro: #333333;
}

main {
    font-family: 'Darker Grotesque', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.perfil_lobo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 100px;
}
.perfil_lobo img {
    width: 200px;
    height: 200px;
    object-fit: cover;  /* Não distorce */
    border-radius: 50%;
}
.perfil_lobo .nome_e_id {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.perfil_lobo h2 {
    margin: 0;
    font-size: 60px;
    font-weight: 600;
}


.formulario_adocao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
}

/* Nome e Idade */
.parte_de_cima {
    display: flex;
    gap: 20px;
}

/* Cada campo empilha label + input */
.campo_nome,
.campo_idade,
.campo_email {
    display: flex;
    flex-direction: column;
}

/* Labels */
.campo_nome label,
.campo_idade label,
.campo_email label {
    font-size: 20px;
}

/* Inputs */
.campo_nome input {
    width: 800px;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
    padding: 4px 0;
}
.campo_idade input {
    width: 80px;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
    padding: 4px 0;
}
.campo_email input {
    width: 900px;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
    padding: 4px 0;
}

button{
    margin-top: 50px;
    padding: 15px 50px;
    background-color:#2C5680;
    color:#FFFFFF;
    font-size: 25px;
}