* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Darker Grotesque';
    display:flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-weight: 600;
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 80px;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #333333;
    width: 958px;
    height: 874px;
    margin-bottom: 40px;
}

.input {
    background-color: #E6E6E6;
    border: 1px solid #333333;
}

.main-container button {
    font-family: 'Roboto';
    font-size: 24px;
    color: #FFFFFF;
    background-color: #2C5680;
    width: 209px;
    height: 60px;
    border: 1px solid #333333;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: border 0.5s ease;
}

.main-container button:hover {
    border: 4px solid #333333;
    transition: border 0.1s ease;
}

.nomeAnos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-container input, #descricaoNovo{
    box-sizing: border-box;
    padding: 15px;
    font-size: 18px;
}

.nome {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nome input {
    width: 564px;
    height: 39px;
}

.anos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.anos input {
    width: 177.14px;
    height: 39px;
}

.link input {
    width: 760.98px;
    height: 39px;
}

.descricao {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descricao textarea {
    width: 760.98px;
    height: 250px;
}


main{
    display: flex;
    flex: 1;

}

header{
    background-color: #85CDF5;
    display: flex;
    align-items: center;
    justify-content: center;

}



.header-container{
    width: 80%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.header-container a{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #333333;
    text-decoration: none;

    background-image: linear-gradient(#333333, #333333);
    background-size: 0% 5px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.3s;
}


.header-container a:hover{
    background-size: 65% 5px;
}


aside{
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);

}

footer{
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container{
    width: 80%;
    height: 100%;
    padding: 56px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-wrapper{
    display: flex;
    flex-direction: row;
    gap: 40px;

    
}

.footer-container iframe{
    width: 250px;
    height: 100%;    
    border-style: none;
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.info-line{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.info-line img {
    width: 18px; 
    margin-top: 4px; 
}

.info-line span, .logo-container p{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.info-container a{
    background-color: #DEB959;
    color: #353535;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 6px 18px;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.info-container a:hover{
    color: #4b3621;
    transform: scale(1.05);
}

.logo-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}