*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
    --branco-fonte: #FFFFFF;
    --branco-icone: #FAFAFA;
    --azul-escuro: #2C5680;
    --azul-claro: #85CDF5;
    --dourado: #DEB956;
    --cinza-escuro: #333333;
}

body{
    font-family: sans-serif;
    height: 100vh;
}

.section-slide{
    width: 100%;
    height: 600px;
    background-image: url("../assets/images/LoboHome.png");
    background-size: 100%;
    background-position: center 65%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-slide h1{
    color: var(--branco-fonte);
    font-size: 96px;
    font-weight: 700;
    margin: 36px;
}

.section-slide div{
    background-color: var(--branco-fonte);
    width: 99px;
    height: 5px;
    margin: 20px;
}

.section-slide p{
    color: var(--branco-fonte);
    width: 40vw;
    font-size: 30px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 32px;
}

.section-sobre{
    width: 100%;
    height: 333px;
    background-color: var(--azul-escuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-sobre h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--dourado);
    margin: 18px 12px 8px;
}

.section-sobre p{
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    color: var(--branco-fonte);
    margin: 4px 8px 18px;
    width: 52vw;
    text-align: center;
}

.section-valores{
    width: 100%;
    height: 625px;
    background-color: var(--cinza-escuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-valores h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--dourado);
    margin: 18px;
}

.valores-content{
    width: 1050px;
    height: 428px;
    margin: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-content{
    width: 195px;
    height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 28px;
}

.valores-content h3{
    font-size: 26px;
    color: var(--branco-fonte);
    text-align: center;
    margin: 38px 0;
}

.valores-content p{
    width: 190px;
    font-size: 18px;
    color: var(--branco-fonte);
    padding-left: 5px;
    text-align: center;
}

.circulo-icone{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: var(--branco-icone);
    margin: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobos-exemplo{
    height: 1020px;
    background-color: var(--branco-fonte);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lobos-exemplo h2{
    font-size: 40px;
    color: var(--dourado);
    font-weight: 700;
    margin: 16px 18px 72px;
}

.exemplares{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.exemplar1, .exemplar2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 361px;
    width: 1000px;
    gap: 48px;
}

.imagens{
    position: relative;
    margin: 20px;
    height: 361px;
    width: 471px;
}

.imagens::before{
    content: "";
    position: absolute;
    width: 430px;
    height: 328px;
    top: 0;
    left: 0;
    background-color: var(--azul-escuro);
    border: 4px solid var(--cinza-escuro);
    z-index: 1;
}

.imagens img{
    position: absolute;
    width: 430px;
    height: 328px;
    top: 33px;
    left: 41px;
    z-index: 2;
    display: block;
}

.exemplar2 .imagens::before {
    left: auto;
    right: 0;   
}

.exemplar2 .imagens img{
    left: 0;  
}

.exemplo-content {
    width: 461px;
    height: 339px;
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.exemplo-content h3{
    font-size: 26px;
    color: black;
    margin-bottom: 12px;
    text-align: start;
    font-weight: 700;
}

.exemplo-content span{
    font-size: 16px;
    font-weight: 200;
    color: black;
    margin-bottom: 24px;
    text-align: start;
}

.exemplo-content p{
    font-size: 18px;
    font-weight: 400;
    color: black;
    text-align: start;
}

.exemplar2 h3{
    text-align: end;
}

.exemplar2 span{
    text-align: end;
}

.exemplar2 p{
    text-align: end;
}


header{
    background-color: #85CDF5;
    display: flex;
    align-items: center;
    justify-content: center;

}



.header-container{
    width: 80%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.header-container a{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #333333;
    text-decoration: none;

    background-image: linear-gradient(#333333, #333333);
    background-size: 0% 5px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.3s;
}


.header-container a:hover{
    background-size: 65% 5px;
}
footer{
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container{
    width: 80%;
    height: 100%;
    padding: 56px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-wrapper{
    display: flex;
    flex-direction: row;
    gap: 40px;

    
}

.footer-container iframe{
    width: 250px;
    height: 100%;    
    border-style: none;
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.info-line{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.info-line img {
    width: 18px; 
    margin-top: 4px; 
}

.info-line span, .logo-container p{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.info-container button{
    background-color: #DEB959;
    color: #353535;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 25px;
    border: none;
    padding: 6px 18px;
    width: fit-content;
    cursor: pointer;
    
}

.logo-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}