* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
}

main{
    flex: 1;
}



header{
    background-color: #85CDF5;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-container{
    width: 80%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



.header-container a{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #333333;
    text-decoration: none;

    background-image: linear-gradient(#333333, #333333);
    background-size: 0% 5px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.3s;
}


.header-container a:hover{
    background-size: 65% 5px;
}



.pesquisa-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    
}

.pesquisa-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.container-extra{
    position: relative;
    flex: 1;
}

.input-container img{
    width: 33px;
    height: 33px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.input-container input {
    width: 100%;
    height: 56px;
    padding: 0 15px 0 60px;
    font-size: 26px;
    border: 1px solid #333333;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 600;
    
}

.input-container a{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 600;
    height: 56px;
    font-size: 36px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DEB959;
    padding: 0 10px;
    transition: 0.5s;
}

.input-container a:hover{
    color: black;
    transform: scale(1.05);
}

.checkbox-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.checkbox-container label{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #353535;
}






.catalogo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.catalogo-primeiro, .catalogo-segundo{
    width: 85%;
    display: flex;
    align-items: flex-start;
    gap: 100px;
    padding-bottom: 120px;
    position: relative; 
}


.catalogo-primeiro::before{
    content: "";
    position: absolute;
    width: 430px;
    height: 328px;
    background-color: #2C5680;
    border: 4px solid #333333;
    top: 0;
    left: 0;
    z-index: 1;
}


.catalogo-primeiro img{
    width: 430px;
    height: auto;
    position: relative;
    z-index: 2;
    top: 40px;   
    left: 40px;  
    flex-shrink: 0;
}


.catalogo-infos-primeiro, .catalogo-infos-segundo{
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
    margin-top: 40px; 
}


.lobo-infos-primeiro, .lobo-infos-segundo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.lobo-nome-primeiro, .lobo-nome-segundo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.lobo-nome-primeiro h2, .lobo-nome-segundo h2{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
}

.lobo-nome-primeiro p, .lobo-nome-segundo p{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}


.lobo-infos-primeiro a, .lobo-infos-segundo a{
    background-color: #DEB959;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
    text-decoration: none;

    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
}

.lobo-infos-primeiro a:hover, .lobo-infos-segundo a:hover{
    color: black;
    transform: scale(1.05);
}


.catalogo-infos-primeiro p, .catalogo-infos-segundo p{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.catalogo-segundo::before{
    content: "";
    position: absolute;
    width: 430px;
    height: 328px;
    background-color: #2C5680;
    border: 4px solid #333333;
    top: 0;
    right: 0;
    z-index: 1;
}

.catalogo-segundo img{
    width: 430px;
    height: auto;
    position: relative;
    z-index: 2;
    top: 40px;   
    right: 40px;  
    flex-shrink: 0;
}




.container-index{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.index-paginacao{
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
}



aside{
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);

}




footer{
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container{
    width: 80%;
    height: 100%;
    padding: 56px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-wrapper{
    display: flex;
    flex-direction: row;
    gap: 40px;

    
}

.footer-container iframe{
    width: 250px;
    height: 100%;    
    border-style: none;
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.info-line{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.info-line img {
    width: 18px; 
    margin-top: 4px; 
}

.info-line span, .logo-container p{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.info-container a{
    background-color: #DEB959;
    color: #353535;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 6px 18px;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.info-container a:hover{
    color: #4b3621;
    transform: scale(1.05);
}

.logo-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}