* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.section-pesquisa {
    display: flex;
    justify-content: center;
}

.pesquisa-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 85%;
    gap: 15px;
}

.pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.icone input {
    width: 775px;
    height: 47px;
    border: 1px solid #333333;
}

.pesquisa a {
    display: flex;
    justify-content: center;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Darker Grotesque';
    font-size: 36px;
    background-color: #DEB959;
    padding: 0 20px;
}

.icone {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.icone img {
    position: absolute;
    left: 6px;
    width: 33px;
}

.check {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.check label {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Darker Grotesque';
    color: #353535;
}

.check input {
    width: 20px;
}

.catalogo {
    height: 1000px;
}

header{
    background-color: #85CDF5;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-container{
    width: 80%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-container h2{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.header-container a{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #333333;
    text-decoration: none;

    background-image: linear-gradient(#333333, #333333);
    background-size: 0% 5px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.3s;
}


.header-container a:hover{
    background-size: 65% 5px;
}

footer{
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container{
    width: 80%;
    height: 100%;
    padding: 56px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-wrapper{
    display: flex;
    flex-direction: row;
    gap: 40px;

    
}

.footer-container iframe{
    width: 250px;
    height: 100%;    
    border-style: none;
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.info-line{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.info-line img {
    width: 18px; 
    margin-top: 4px; 
}

.info-line span, .logo-container p{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.info-container button{
    background-color: #DEB959;
    color: #353535;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 25px;
    border: none;
    padding: 6px 18px;
    width: fit-content;
    cursor: pointer;
    
}

.logo-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}