* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco-fonte: #FFFFFF;
    --azul-escuro: #2C5680;
    --azul-claro: #85CDF5;
    --dourado: #DEB956;
    --cinza-escuro: #333333;
}

main h2 {
    margin-bottom: 48px; 
    text-align: center; 
    line-height: 3; 
    font-family: 'Roboto', sans-serif;
}

main {
    font-family: 'Roboto', sans-serif;
    line-height: 3; 
    margin-bottom: 20px;
}

.InformacoesLobo {
    display: flex; 
    align-items: flex-start;
    gap: 40px; 
    max-width: 900px;
    margin: 0 auto;
}
.InformacoesLobo p {
    max-width: 450px;
    line-height: 1.4;
    margin: 0;
    text-align: left;
}


.imagem {
    position: relative;
    width: 420px;
    height: 300px;
    flex-shrink: 0; 
}

.imagem::before {
    content: "";
    position: absolute; 
    width: 420px;
    height: 300px;
    background-color:#2C5680;
    top: -28px; 
    left: -28px; 
    border: 4px solid var(--cinza-escuro);
}
.imagem img {
    width: 420px;
    height: 300px;
    object-fit: cover; 
    position: relative; 
}

.botoes {
    display: flex; 
    justify-content: center;
    gap: 64px;
    margin-top: 16px;
}
.botoes button {
    padding: 14px 28px;
    min-width: 160px;
    font-size: 16px;
    font-weight: 300;
    border: none;
    cursor: pointer; 
    color: #fff;
}
.botoes .botao_adotar {
    background-color: #2ecc71;
}
.botoes .botao_excluir {
    background-color: #e74c3c;
}

header{
    background-color: #85CDF5;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-container{
    width: 80%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-container h2{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.header-container a{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #333333;
    text-decoration: none;

    background-image: linear-gradient(#333333, #333333);
    background-size: 0% 5px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.3s;
}


.header-container a:hover{
    background-size: 65% 5px;
}

footer{
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container{
    width: 80%;
    height: 100%;
    padding: 56px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-wrapper{
    display: flex;
    flex-direction: row;
    gap: 40px;

    
}

.footer-container iframe{
    width: 250px;
    height: 100%;    
    border-style: none;
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.info-line{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.info-line img {
    width: 18px; 
    margin-top: 4px; 
}

.info-line span, .logo-container p{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.info-container button{
    background-color: #DEB959;
    color: #353535;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 25px;
    border: none;
    padding: 6px 18px;
    width: fit-content;
    cursor: pointer;
    
}

.logo-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}